.tweet {
  height: 100hv;
  background:whitesmoke;
}

.app {
  height: 100px;
  width: 600px;
  background: #1647a8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

body {
background-color: linear-gradient(blue,green,yellow)

}